.centerTable
{
     text-align:center;
}

tr.border_bottom td {
  border-bottom:1pt solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    border-bottom:1pt solid #f0f0f0;
    border-top:1pt solid #f0f0f0;
    }
    
th{
    padding: 10px;
    }    


td{
    padding: 5px !important;
    }    
 
 .paddingTd{
     padding-left: 15px !important;
     padding-right: 15px !important;
 }